.container.mt-4
  .row
    .col-md-8.offset-md-2
      %table.table
        %tbody
          - @decorated_user_interviews.each do |interview|
            %tr
              %td
                %b= link_to truncate(interview.title, length: 60), interview_path(interview)
              %td
                = link_to t(".edit"), edit_interview_path(interview)
              %td.text-right
                %span.badge.badge-warning= interview.publication_status
