/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";

/* Custom */

small.section-description {
  display: none;
}

.dropdown-menu a {
    color: #212529 !important;
}

.navbar-brand small {
  display: block;
  font-size: 12px;
}

span.instructions {
  color: #008ace;
  text-decoration: none;
  border-bottom: 1px dashed #b2ccf0;
  cursor: pointer;
}

.img-container {
  height: 300px;
  width: 100%;
  background-size: cover;
  background-position: 50% 50% !important;

}

.section-img {
  width: 400px;
  margin-left: -180px;
  margin-right: 20px;
}

.section {
  margin-bottom: 100px;
  background-color: #fffff1;
  padding-left: 10px;
  padding-right: 10px;
}

.section-text {
  padding-top: 31px;
  padding-bottom: 10px;
  line-height: 1.4em;
}

.alert-top {
  position: absolute;
  top: 20px;
  margin: 0 auto;
  width: 400px;
  left: 0;
  right: 0;
}

.interview-thumb {
  margin-bottom: 3em;

  &:hover {
    filter: contrast(80%);
  	-webkit-filter: contrast(80%);
  	-moz-filter: contrast(80%);
  	-ms-filter: contrast(80%);
  }
}

.top-interview-thumb {
  height: 350px;

  &:hover {
    filter: contrast(80%);
  	-webkit-filter: contrast(80%);
  	-moz-filter: contrast(80%);
  	-ms-filter: contrast(80%);
  }
}

.top-interview-img {
  height: 400px;
}

.normal-interview-thumb {
  height: 250px;
}

.interview-thumb-title {
  position: relative;
  display: inline-block;
  bottom: 4em;
  background-color: white;
  margin: 0 7em -4em 2em;
  padding: 1.5em 1em 1em 1em;

  span {
    position: absolute;
    top: 5px;
    background-color: #ffc107;
    padding: 0 2px;
    color: black;
    font-weight: bold;
    left: 15px;
    font-size: 0.7em;
  }
}

.interview-thumb-description {
  margin-left: 2em;
  margin-top: -2.5em;
  margin-right: 8em;
  padding-left: 1.3em;
  text-align: justify;
  font-size: 0.9em;
  line-height: 1.2em;

  p {

  }
}

.interview-title {
  position: absolute;
  top: -115px;
  background: white;
  padding: 2em 1.3em 1em 1.3em;
  left: 0;
  min-height: 120px;

  h3 {
    font-size: 1.5em;
    font-weight: normal;
  }
}

.interview-country {
  position: absolute;
  top: -7em;
  span {
    padding: 3px;
    font-size: 1em;
  }
}

.interview-description {
  text-align: justify;
  margin-top: 1em;
  margin-bottom: 5em;
  line-height: 1.4em;
  padding-right: 1em;

}

h3.section-name {
  font-size: 1.5em;
  font-weight: normal;
}

@media (max-width: 768px) {
  .img-container {
    height: 200px;
  }
}

@media (max-width: 992px) {
  .section-img {
    margin: 0;
    width: 100%;
    margin-bottom: 25px;
  }
}
