%footer.footer.bg-dark.mt-4
  .container
    .row
      .col-md-4.offset-md-4.navbar-text
        %nav.nav.nav-pills.nav-justified
          %a.nav-item.nav-link{ href: "#" } About
          %a.nav-item.nav-link{ href: "#" } Contact
